@(shoppingLists: List[ShoppingList], user: User)(implicit flash: Flash)

@main("Shopping Lists | Housekeeper", Option(user)) {
    @flash.get("info").map { info =>
        <div class="alert alert-info">@info</div>
    }

    <div class="page-header">
        <h1>Shopping Lists</h1>
    </div>
    <div>
        @if(shoppingLists.isEmpty) {
            <p class="text-muted">No shopping lists were created yet.</p>
        } else {
            <table class="table">
                <tbody>
                @shoppingLists.map { sl =>
                    <tr>
                        <td><a href="@routes.ShoppingListController.show(sl.id.get)">@sl.title</a></td>
                        <td>@sl.description.getOrElse("No description")</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
}