@(shoppingListDetail: Option[ShoppingListDetail], listItemForm: Form[ShoppingListItemController.FormData])(implicit flash: Flash)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main("Shopping List Detail | Housekeeper") {

    @flash.get("info").map { infoMsg =>
        <div class="alert alert-info">@infoMsg</div>
    }

    @if(!shoppingListDetail.isDefined) {
        <div class="alert alert-warning">
            Shopping list was not found.
        </div>
    } else {
        @shoppingListDetail.map { sld =>
            <div class="page-header">
                <h1>@sld.shoppingList.title</h1>
            </div>
            <div>
                <p>@sld.shoppingList.description</p>
                <div class="pull-right">
                    <a class="btn btn-danger" href="@routes.ShoppingListController.delete(sld.shoppingList.id.get)">
                        <i class="glyphicon glyphicon-trash"> </i> Delete
                    </a>
                </div>
            </div>
            <hl/>
            <div class="items">
                <h2>Items <a href="#" id="showItemForm"><i class="glyphicon glyphicon-plus">&nbsp;</i></a></h2>

                <div id="itemFormContainer" class="row">
                @b3.form(routes.ShoppingListItemController.save(sld.shoppingList.id.get)) {
                    <div class="col-md-12">
                       @b3.text(listItemForm("name"), '_label -> "Name", '_showIconOnError -> true)
                    </div>
                    <div class="col-md-6">
                        @b3.number(listItemForm("quantity"), '_label -> "Quantity", 'min -> "1", '_showIconOnError -> true)
                    </div>
                    <div class="col-md-6">
                    @b3.number(listItemForm("priceForOne"), '_label -> "Price for one", 'step -> "any", 'min -> "0", '_showIconOnError -> true)
                    </div>
                    <div class="col-md-12">
                        @b3.submit('class -> "btn btn-default") { Add item }
                    </div>
                }
                </div>
                <hl/>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price for one</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @sld.items.map { item =>
                          <tr>
                              <td>@item.name</td>
                              <td>@item.quantity</td>
                              <td>@item.priceForOne.map(_.toString).getOrElse("-")</td>
                              <td>
                                  <a href="@routes.ShoppingListItemController.remove(item.id.get, item.shoppingListId.get)"
                                     class="btn btn-danger pull-right action">
                                      <i class="glyphicon glyphicon-trash"> </i> Delete
                                  </a>
                                  <a href="@routes.ShoppingListItemController.edit(item.id.get, item.shoppingListId.get)"
                                     class="btn btn-default pull-right action">
                                      <i class="glyphicon glyphicon-pencil"></i> Edit
                                  </a>
                              </td>
                          </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

}