@(id: Int, listId: Int, listItemForm: Form[ShoppingListItemController.FormData])(implicit session: Session, messages: Messages, webJarAssets: WebJarAssets)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main("Edit Item | Housekeeper") {
    <div class="page-header">
        <h1>Edit item</h1>
    </div>
    <div class="row">
        @b3.form(routes.ShoppingListItemController.update(id, listId)) {
            <div class="col-md-12">
            @b3.text(listItemForm("name"), '_label -> "Name", '_showIconOnError -> true)
            </div>
            <div class="col-md-6">
            @b3.number(listItemForm("quantity"), '_label -> "Quantity", 'min -> "1", '_showIconOnError -> true)
            </div>
            <div class="col-md-6">
            @b3.number(listItemForm("priceForOne"), '_label -> "Price for one", 'step -> "any", 'min -> "0", '_showIconOnError -> true)
            </div>
            <div class="col-md-12">
            @b3.submit('class -> "btn btn-default") { Edit }
            </div>
        }
    </div>
}