@(user: User, form: Form[UserController.Registration])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main("Edit profile | Housekeeper", Option(user)) {
    @form.globalErrors.map { error =>
        <div class="alert alert-danger">@error.message</div>
    }
    <div class="page-header">
        <h1>Edit profile</h1>
    </div>
    <div>
        @user.id.map { userID =>
            @b3.form(routes.UserController.update(userID)) {
                @helper.CSRF.formField
                @b3.text(form("name"), '_label -> "Name")
                @b3.email(form("email"), '_label -> "Email")
                @b3.password(form("password"), '_label -> "New password")
                @b3.password(form("passwordConfirmation"), '_label -> "New password confirmation")
            }
        }.getOrElse {
            <div class="alert alert-warning">User does not exist.</div>
        }
    </div>
}
